:root {
  background-color: var(--color-bg);
  --color-bg: light-dark(#b0ada5, #000e25);
  color-scheme: light-dark;
}

html {
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}

#top {
  scroll-margin-top: 80px;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
  max-width: 100%;
  align-items: center;
  background-color: transparent;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  position: absolute;
  top: 0;
  z-index: 1000;
}

nav {
  flex: 4;
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  margin-right: 78px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
  gap: 40px;
  position: relative;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 60px;
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #f5f5f5;
  font-weight: normal;
  font-size: 20px;
  transition: color 0.3s;
}

.menu a:hover {
  color: light-dark(#353535, #ffd685);
}

.logo-svg {
  margin-left: 20px;
  margin-top: 25px;
  height: 60px;
  width: auto;
}

.logo-svg path {
  fill: light-dark(#353535, #ffd685);
}

#toggle {
  padding: 8px 8px;
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  color: light-dark(#f5f5f5, #000e25);
  border: none;
  background-color: light-dark(#353535, #ffd685);
  cursor: pointer;
  transition: all 0.3s;
  position: absolute;
  right: 0;
  margin-right: 25px;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f5f5f5;
  margin-bottom: 5px;
}

.burger {
  display: none;
}

.hero {
  display: grid;
  place-items: center;
  position: relative;
}

.hero svg {
  grid-area: 1/1;
  align-self: end;
  justify-self: center;
  animation: bounce 5s infinite;
  width: 42px;
  height: auto;
  z-index: 2; /* keeps it above the image */
}

.hero a {
  grid-area: 1/1;
  align-self: end;
  justify-self: center;
  margin-bottom: 100px;
  z-index: 2;
  pointer-events: auto; /*link is clickable*/
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.hero img {
  grid-area: 1 / 1;
  width: 100%;
  object-fit: cover;
  animation: parallax both linear;
  animation-timeline: scroll();
  animation-range: 0 100svh;
  pointer-events: none; /* Makes the image ignore all mouse/touch events */

  /* Safari + iOS */
  -webkit-mask-image: linear-gradient(
    180deg,
    rgba(20, 25, 53, 1) 0%,
    rgba(20, 25, 53, 1) 50%,
    rgba(20, 25, 53, 0) 100%
  );

  /* Chrome + Firefox */
  mask-image: linear-gradient(
    180deg,
    rgba(20, 25, 53, 1) 0%,
    rgba(20, 25, 53, 1) 50%,
    rgba(20, 25, 53, 0) 100%
  );
}

@keyframes parallax {
  to {
    opacity: 0;
    translate: 0 75svh;
  }
}

.hero h1 {
  grid-area: 1 / 1;
  color: var(--h1-color);
  --h1-color: light-dark(#353535, #ffd685);
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 55px;
  z-index: 2;
  justify-self: center;
  animation: parallax both linear;
  animation-timeline: scroll();
  animation-range: 0 100svh;
  align-self: start;
  margin-top: 100px;
}

.mobile {
  max-width: 210px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  transition: transform 1.5s;
}

.mobile:hover {
  transform: scale(1.2);
}

.desktop {
  max-width: 335px;
  margin-top: 80px;
  margin-bottom: 80px;
  transition: transform 1.5s;
}

.desktop:hover {
  transform: scale(1.2);
}

h1 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 55px;
  text-align: center;
  color: #ffd685;
}

h2 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: var(--h2-color);
  --h2-color: light-dark(#353535, #ffd685);
}

h3 {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: #ffd685;
}

#name {
  grid-area: 1 / 1;
  font-family: "Questrial", sans-serif;
  color: #f5f5f5;
  z-index: 10;
  font-size: 30px;
  justify-self: center;
  animation: parallax both linear;
  animation-timeline: scroll();
  animation-range: 0 100svh;
  align-self: start;
  margin-top: 180px;
}

#copyright {
  font-family: "Questrial", sans-serif;
  font-weight: 100;
  color: #f5f5f5;
  font-size: 10px;
  margin-bottom: 20px;
}

::selection {
  color: light-dark(#f5f5f5, #000e25);
  background-color: light-dark(#73716d, #ffd685);
}

.stroke {
  border: none;
  height: 1.5px;
  background-color: #333333;
  width: 90%;
  max-width: 100%;
  margin: 0 auto 80px auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tema p {
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  margin-top: 20px;
  font-style: normal;
  color: #f5f5f5;
  line-height: 25px;
}

.button-read {
  display: inline-block;
  text-decoration: none;
  color: #000e25;
  cursor: pointer;
  background-color: var(--btn-border-color-);
  --btn-border-color-: light-dark(#353535, #ffd685);
  color: var(--btn-text-color-);
  --btn-text-color-: light-dark(#f5f5f5, #000e25);
  border-style: none;
  border-radius: 50px;
  border-width: 15px;
  padding: 8px 25px 8px 25px;
  margin: 50px 50px 20px 0px;
  font-family: "Questrial", sans-serif;
  z-index: 1;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.button-read:hover {
  background-color: var(--btn-hover-color-);
  --btn-hover-color-: light-dark(#73716d, #e2be76);
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.button-tema {
  background-color: #ffd685;
  border: none;
  border-radius: 50px;
  background-color: var(--btn-border-color-);
  --btn-border-color-: light-dark(#353535, #ffd685);
  color: var(--btn-text-color-);
  --btn-text-color-: light-dark(#f5f5f5, #000e25);
  padding: 10px 28px;
  margin: 40px auto 20px auto;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.button-tema:hover {
  background-color: var(--btn-hover-color-);
  --btn-hover-color-: light-dark(#73716d, #e2be76);
  transform: scale(1.08);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.info {
  font-family: "Questrial", sans-serif;
  margin: 20px auto 0;
  margin: 25px;
  margin-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #f5f5f5;
  color: light-dark(#353535, #000e25);
  line-height: 1.7;
  animation: fadeIn 0.3s ease;
}

.button-footer {
  color: #f5f5f5;
  margin-top: 25px;
  border-width: 15px;
  font-family: "Questrial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-svg {
  color: light-dark(#353535, #ffd685);
}

details {
  border: 1px solid #e0e0e0;
  border-radius: 50px;
  padding: 10px;
  background: #fff;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

summary {
  cursor: pointer;
  font-family: "DM Serif Display", serif;
  font-weight: 600;
  font-size: 16px;
  color: light-dark(#353535, #000e25);
  text-align: center;
  line-height: 1.5;
}

summary:hover {
  color: light-dark(#b0ada5, #ffd685);
}

@media only screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: end;
    align-items: center;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    top: 0;
    z-index: 1000;
  }

  .menu {
    display: none;
  }

  .menu a {
    color: light-dark(#b0ada5, #000e25);
  }

  .menu a:hover {
    color: #f5f5f5;
  }

  .burger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1001;
    background-color: transparent;
    border: 0;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: light-dark(#333333, #ffd685);
    position: fixed;
    top: 60px;
    right: 20px;
    width: 25%;
    z-index: 1000;
  }

  nav {
    flex: 3;
    display: flex;
    margin-left: 20px;
    margin-right: 5px;
    justify-content: flex-end;
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  nav.active .menu li {
    margin: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  nav.active .menu a {
    font-size: 15px;
  }

  .logo {
    max-width: 125px;
    width: 100%;
    margin-left: 11px;
  }

  .logo-svg {
    height: 30px;
  }

  #toggle {
    position: fixed;
    bottom: 15px;
  }

  .hero h1 {
    grid-area: 1 / 1;
    font-size: 26px;
    margin: 20px;
    font-family: "DM Serif Display", serif;
    z-index: 2;
    justify-self: center; /* horizontal center */
    align-self: start; /* vertical start (top) */
    margin-top: 14px;
    max-width: 300px;
  }

  .hero svg {
    display: none;
  }

  h2,
  p {
    margin: 30px 50px 20px 50px;
  }

  #copyright {
    margin: 0px 50px 20px 50px;
  }

  #name {
    font-size: 20px;
    margin-top: 55px;
  }

  .tema h2 {
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
  }

  .tema p {
    font-family: "Questrial", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
  }

  .mobile {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .desktop {
    max-width: 60%;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .button-read {
    display: block;
    border: none;
    border-radius: 50px;
    padding: 8px 16px;
    margin: 30px 50px 20px 50px;
    font-family: "Questrial", sans-serif;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .button-footer {
    margin-top: 10px;
  }

  .button-read:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .button-tema {
    padding: 10px 22px;
  }

  .button-tema:hover {
    transform: scale(1.08);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }

  .button-footer {
    padding: 8px 25px 8px 25px;
  }
}
